<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>272106169401-buoqgsvpi8eecv4vhobqke5fsgg4a6pa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272106169401-buoqgsvpi8eecv4vhobqke5fsgg4a6pa</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>272106169401-c4buudg8u6b0qodfhv9brnphmm6no59j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB5MbxPWTtuGgtV_J3KCPygqhwtiItw6Bw</string>
	<key>GCM_SENDER_ID</key>
	<string>272106169401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joshsoftware.app.reached</string>
	<key>PROJECT_ID</key>
	<string>reached-ce772</string>
	<key>STORAGE_BUCKET</key>
	<string>reached-ce772.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272106169401:ios:960f855a520c15941fd9e8</string>
	<key>DATABASE_URL</key>
	<string>https://reached-ce772-default-rtdb.firebaseio.com</string>
</dict>
</plist>